$primary: #89b4fa;
$onPrimary: #1e1e2e;
$primaryContainer: #45475a;
$onPrimaryContainer: #cdd6f4;
$secondary: #f5c2e7;
$onSecondary: #1e1e2e;
$secondaryContainer: #45475a;
$onSecondaryContainer: #cdd6f4;
$tertiary: #94e2d5;
$onTertiary: #1e1e2e;
$tertiaryContainer: #45475a;
$onTertiaryContainer: #cdd6f4;
$error: #f38ba8;
$onError: #1e1e2e;
$errorContainer: #45475a;
$onErrorContainer: #cdd6f4;
$background: #1e1e2e;
$onBackground: #cdd6f4;
$surface: #1e1e2e;
$onSurface: #cdd6f4;
$surfaceVariant: #313244;
$onSurfaceVariant: #a6adc8;
$outline: #6c7086;
$shadow: #000000;
$inverseSurface: #cdd6f4;
$inverseOnSurface: #1e1e2e;
$inversePrimary: #89b4fa;
